<h1>Create New Test</h1>

<form action="/tests/3/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <lable for="question-body">body:</lable>
    <input type="text" name="question[body]" id="quiestion-body">
  </p><br>

  <input type="submit" value="Create">
</form>
