<tr>
  <td><%= gist.user.full_name %></td>
  <td><%= link_to "#{gist.gist_hash}", "https://gist.github.com/NikitaSharipov/#{gist.gist_hash}", target: "_blank"  %></td>
  <td><%= gist.question.body %></td>
</tr>
