<p>Текущий год: <%= current_year %> </p>
<p>Имя автора: Никита Шарипов </p>
<p>Название проекта: <a href= <%= github_link('NikitaSharipov', 'Test-Guru') %> target="_blank" >Test Guru</a></p>
<p>О проекте: Test Guru дает возможность пользователям находить, проходить и даже самим создавать тесты. Test Guru - это учебный проект в онлайн-школе <a href="http://thinknetica.com" target="_blank">Thinknetica</a> ! </p>
