<span class="nav user">
<% if user_signed_in? %>
  <p>
    <%= t('.welcome') %> <b><%= current_user.email %></b> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </p>
<% end %>
</span>
