<table>
  <caption>Tests</caption>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Author</th>
    <th>Question count</th>
  </tr>

  <%= render Test.all %>

</table>

<p>

</p>
